body {
  background-image: url(https://cdn.luogu.com.cn/upload/image_hosting/p4xqq8eb.png);
  background-attachment: fixed;
  background-size: cover;
}
.markdown-body {
  background-image: url(https://cdn.luogu.com.cn/upload/image_hosting/p4xqq8eb.png);
  background-attachment: fixed;
  background-size: cover;
}