body {
  background: url(https://cdn.luogu.com.cn/upload/image_hosting/m7pb7dep.png) fixed center;
}
.markdown-body {
  background: url(https://cdn.luogu.com.cn/upload/image_hosting/m7pb7dep.png) fixed center;
}
readme {
  background: url(https://cdn.luogu.com.cn/upload/image_hosting/m7pb7dep.png) fixed center;
}